<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

  <div fxFlex="40">
    <mat-card *ngIf="dish">
      <mat-card-header>
        <mat-card-title>
          <h3>Dish Detail</h3>
          <h3>{{dish.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{dish.image}} alt={{dish.name}}>
      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="goBack()">Back</button>
        <button mat-button>Like</button>
        <button mat-button>Share</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-card>
      <mat-list *ngIf="dish">
          <mat-card-header>
              <mat-card-title>
                  <h3>Comments</h3>
              </mat-card-title>
            </mat-card-header>
        <mat-list-item *ngFor="let comment of dish.comments"> 
          <h4 matLine>{{comment.comment}}</h4>
          <h5 matLine>{{comment.rating}} Stars</h5>
          <p matLine>--{{comment.author}}   {{comment.date | date}}</p>        
        </mat-list-item>
      </mat-list>
    </mat-card>
  </div>
</div>